body {
	margin: 0;
	padding: 0;
	font-family: 'Chinese Rocks';
	float: right;
	color: white;
	background-color: black;
}
.linklaunch {
	color:black;
}

.linkoff {
	color:black;
}

.linkon {
	color:black;
}
.nav {
    background-color: black;
    color: white;
    text-align: right;
    padding: 0px 0 25px 0;
    font-family:'Chinese Rocks';
    src: url('chinese rocks rg.ttf') format('truetype');

}

header, main, footer {
	padding: 0.3rem 2.5rem;

}
header img {
	    height:811px;
	    width: 1520px;
}

.p {
	align-content: right;
	font-family: 'Milestone One';
	color: white;
}

.Logo {
	font-weight: bold;
	text-align: left;
	color: white;
	padding-left: 25px;
	float: left
}
.Logo:hover {
	color: red;
}

.Text2 {
	font-size: 30px;
	color: white;
	text-align: center;
}

.Logo>a {
	text-decoration: none;
	color: white;
	float: left;
}

img {
	align-content: auto;
	width: 100%;
}



h1 {
	font-family: 'Chinese Rocks';
}

.Gold {
	text-align: center;
	color: red;
	float: center;
	font-size: 60px;
}

.Logo2 {
	text-align: right;
	color: white;
	padding-left: 25px;
	float: right;
	font-weight: bold;	
}

.Logo2>a {
	text-decoration: none;
	color: white;
	float: right;
}

.Logo2:hover {
	color: red;
}

.button {
	background-color: #D20204;
	border: none;
	color: white;	
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	margin: 10px 0 0px;
	cursor: pointer;
	font-family: 'Chinese Rocks';
	vertical-align: center;
	top: 50%;
}

.main {
	 display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-column-gap: 10px;
  padding: 1em;
}

/* .item {
	display: inline-block;
	margin: 40px 35px 15px;
	overflow: hidden;
	height: 650px;
	width: 560px;
	cursor: pointer;
	align-content: center;
	text-align: center;
}*/

.Text {
	color: white;
	font-size: 20px;
	text-align: center;
}
.tekst3 {
	background-color: black;
	color: white;
	font-family: 'Chinese Rocks';
	font-size: 31px;
	list-style: none;
	text-align: center;
	float: center;
	padding: 0px 0 0px 0;

}
.tekst3:hover {
	color: red;
}

.button3 {
    text-decoration: none;
    color: black;
    float: right;
    font-size: 25px;
    padding: 0 20px;
    background-color: red;
    font-family: 'Chinese Rocks';
    border: 0px;
	vertical-align: center;
	font-weight: bold;
}

.button3:hover {
    color: white;
    font-size: 25px;
    padding: 0 20px;
	font-weight: bold;
}

.button2 {
  text-align: left;
  float: left;
    background-color:black ;
    border: none;
    color: white;
    font-size: 25px;
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Chinese Rocks';
    vertical-align: center;
	font-weight: bold;
}
.button2:hover {
    color: red;
    font-size: 25px;
    padding: 0 20px;
	font-weight: bold;
}


.button4 {
  text-align: right;
  float: right;
    background-color:black ;
    border: none;
    color: white;
    font-size: 25px;
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Chinese Rocks';
    vertical-align: center;
	font-weight: bold;
}



